.git
*.bak
/payloads/ftp.js
/download0.dat
/create_download0_image.sh
/*_elf
/download0/cache/splash_screen/aHR0cHM6Ly93d3cueW91dHViZS5jb20vdHY=/*_quieter.*
/download0/cache/splash_screen/aHR0cHM6Ly93d3cueW91dHViZS5jb20vdHY=/ps5_autoload.elf
/download0/cache/splash_screen/aHR0cHM6Ly93d3cueW91dHViZS5jb20vdHY=/kill_youtube.elf